@{
  Layout = "_Layout";
}

<form action="/combo" method="post">
    <label for="money-input">Enter an amount of money, e.g. 12.43</label>
    <p><small><small><small><small>*Will round to the nearest penny</small></small></small></small></p>
    <input type="text" name="money-input" id="money-input" class="form-control">
    <button type="submit" class="btn-lg btn-success">$$$$UBMIT</button>
</form>
