@{
  Layout = "_Layout";
}

<form class="" action="/combo" method="post">
    <label for="money-input">Enter an amount of money, e.g. 12.43</label>
    <input type="text" name="money-input" id="money-input">
    <button type="submit" name="button">$$$$UBMIT</button>

</form>
